{% extends "template.html" %}
{% block head %}
<script>
    $(document).ready(function () {
        var modal = document.getElementById('replyModal')
        modal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget
            var name = button.getAttribute('name')
            var title = modal.querySelector('.modal-title')
            var msg = modal.querySelector('.modal-body textarea')
            if (name) {
                title.textContent = 'Reply to : ' + name
                msg.value = "@" + name + "\n"
            }
        })
    })
</script>
{% endblock %}
{% block body %}

{% include "button/go-top.html" %}
{% include "button/go-back.html" %}
{% include "button/reply.html" %}
{% include "modal/reply.html" %}

<div class="container">
    <div class="row">
        <div class="col-10 col-lg-7 col-md-8 col-sm-9 text-center mx-auto my-3">
            <img class="img-fluid" src="{{ url_for('image_route',id=data.id,type='image') }}" loading="lazy">
        </div>
        <div class="col-10 col-lg-4 col-md-3 col-sm-2 my-2">
            <div class="row">
                <div class="col">
                    <div class="card bg-dark cover">
                        <div class="my-2 mx-2 text-light col-12">
                            {{ data.msg.replace("\n","<br>")|safe }}
                        </div>
                        <div class="text-end col-12">
                            <small class="blockquote-footer text-light-50">
                                {{ data.name }}
                            </small>
                        </div>
                        <div class='card-img-overlay d-flex align-items-center'>
                            <div class="col-12">
                                <button class="btn btn-outline-warning" data-bs-toggle="modal"
                                    data-bs-target="#replyModal" name='{{ data.name }}'>
                                    <i class="fs-4 bi bi-chat-dots"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if comment %}

            <div class="row">
                <div class="col">
                    {% for rec in comment %}
                    <div class="card bg-dark cover my-1">
                        <div class="my-2 mx-2 text-light col-12">
                            {{ rec.msg.replace("\n","<br>")|safe }}
                        </div>
                        <div class="text-end col-12">
                            <small class="blockquote-footer text-light-50">
                                {{ rec.name }}
                            </small>
                        </div>
                        <div class='card-img-overlay d-flex align-items-center'>
                            <div class="col-12">
                                <button class="btn btn-outline-warning" data-bs-toggle="modal"
                                    data-bs-target="#replyModal" name='{{ rec.name }}'>
                                    <i class="fs-4 bi bi-chat-dots"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}

        </div>
    </div>
</div>

{% endblock %}