{% extends "template.html" %}

{% block head %}

<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
    integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous"
    async></script>

<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>

<script src="{{ url_for('static',filename='modal.js') }}"></script>

<script src="{{ url_for('static',filename='masonry.js') }}"></script>

{% endblock %}

{% block body %}

<button class="fab btn-light" data-bs-toggle="modal" data-bs-target="#formModal"><i
        class="bi bi-pencil align-middle"></i></button>

{% include "form_modal.html" %}



{% if data == "" %}
<div class="content-center">
    <p></p>
    <p class="text-white text-center">No one leave a message yet.</p>
</div>
{% else %}

<div class="container content-center">
    <div class="row row-cols-lg-5 row-cols-md-4 row-cols-sm-3 row-cols-1 mx-auto"
        data-masonry='{"percentPosition": true }' id="grid">

        {% for rec in data %}

        <div class="py-2 px-2">
            <div class="card text-white bg-dark">
                {% if rec.timg: %}

                <a href="{{ url_for('image_route',id=rec.id,type='image') }}">
                    <img id="card_image_{{ rec.id}}" src="{{ url_for('image_route',id=rec.id,type='timg') }}"
                        class="card-img-top rounded-0" data-bs-toggle="modal" data-bs-target="#cardModal"
                        loading="lazy"></a>
                {% endif %}
                {% if rec.msg: %}
                <div class="card-body px-2 py-2">

                    <p id="card_text_{{ rec.id}}" class="fs-6 card-text">
                        {{ rec.msg.replace("\n","<br>")|safe }}
                    </p>

                    <!-- <p class="card-text text-end">
                        <small id="card_author_{{ rec.id}}" class="blockquote-footer">
                            {{ rec.name }}
                        </small>
                    </p> -->
                </div>

                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}

{% endblock %}