{% extends "template.html" %}

{% block head %}

<script src="{{ url_for('static',filename='modal.js') }}"></script>

<!-- <link rel="stylesheet" href="{{ url_for('static',filename='masonry.css') }}"> -->

{% endblock %}

{% block body %}

<button class="fab btn-light" data-bs-toggle="modal" data-bs-target="#formModal"><i
        class="bi bi-pencil align-middle"></i></button>

{% include "form.html" %}
{% include "popup.html" %}


{% if data == "" %}
<div class="content-center">
    <p></p>
    <p class="text-white text-center">No one leave a message yet.</p>
</div>
{% else %}

<div class="align-items-end text-center col-10 row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1 g-3 mx-auto">
    {% for rec in data[:20] %}
    <div class="col">
        <div class="h-100">
            {% if rec.timg: %}
            <img src="{{ url_for('image_route',id=rec.id,type='timg') }}" class="my-auto img-fluid rounded-3"
                loading="lazy" data-bs-toggle="modal" data-bs-target="#cardModal">
            {% endif %}
            <!-- {% if rec.msg: %}
            <div class="border border-danger">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">
                    {{ rec.msg.replace("\n","<br>")|safe }}
                </p>
            </div>
            {% endif %} -->
            <!-- <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div> -->
        </div>
    </div> {% endfor %}

</div>

{% endif %}

{% endblock %}