{% extends "template.html" %}

{% block head %}

<!-- reCAPTCHA v3 -->
<script src="https://www.google.com/recaptcha/api.js"></script>

<script>
    function formSubmit(token) {
        document.getElementById("validation").submit();
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $('img').click(function (event) {
            var img_src = $(this).attr('image');
            var card_id = img_src.split("/")[2];
            var text_modal = $(this).closest('.card').find('#card_text_' + card_id).text();
            var author_modal = $(this).closest('.card').find('#card_author_' + card_id).text();

            $('#photo_modal').attr('src', img_src);
            document.getElementById("text_modal").innerHTML = text_modal;
            document.getElementById("author_modal").innerHTML = author_modal;
            $('#cardModal').modal('handleUpdate')
            $('#cardModal').modal('show');
        })
    });
</script>

<!--masonry-->
<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
    integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous"
    async></script>

<link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">

<!--icon-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

{% endblock %}

{% block body %}

<button class="fab btn-light" data-bs-toggle="modal" data-bs-target="#formModal"><i
        class="bi bi-pencil align-middle"></i></button>

<div class="modal fade" id="formModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content text-white border-dark bg-dark ">
            <div class="modal-header">
                <h5 class="modal-title">Write some message</h5>
            </div>
            <div class="modal-body">
                <form role="form" id="validation" class="col form-group my-0 mx-1" action="/msg"
                    enctype="multipart/form-data" method="POST">
                    <input name="name" type="text" class="mb-2 mt-1 border-Primary text-white bg-dark form-control"
                        placeholder="Nick Name" maxlength="20"
                        pattern="^[0-9A-Z.\sa-z\u3400-\u4DBF\u4E00-\u9FFF\u3040-\u309F\u30A0-\u30FF]{1,20}$">
                    <textarea class="text-white bg-dark border-Primary form-control mb-2" rows="4" name="msg"
                        placeholder="Write a message"></textarea>
                    <input type="file" class="border-Primary mb-2 text-secondary bg-dark form-control" name="upload">
                    <button data-action='submit' data-callback='formSubmit'
                        data-sitekey="6Lft2hsaAAAAAF2t9ldcHaKiaRAQbGOdhz7wuEPy" class="visually-hidden g-recaptcha">
                    </button>

                    <button type="submit" class="w-25 btn btn-Primary">Post</button>
                    <button type="button" data-bs-toggle="collapse" data-bs-dismiss="modal"
                        class="w-25 mx-1 btn btn-secondary">Canel</button>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="cardModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content text-white border-dark bg-dark">
            <div class="modal-body">
                <div class="card text-white border-Warning bg-dark">
                    <img class="card-img-top" id="photo_modal" loading="lazy"></img>
                    <div class="card-body">
                        <p id="text_modal" class="card-text"></p>
                        <p class="card-text text-end">
                            <small id="author_modal" class="blockquote-footer"></small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% if data == "" %}
<div class="content-center">
    <p></p>
    <p class="text-white text-center">No one leave a message yet.</p>
</div>
{% else %}

<div class="container-fluid content-center">
    <div class="row row-cols-lg-5 row-cols-md-4 row-cols-sm-3 row-cols-1 mx-auto"
        data-masonry='{"percentPosition": true }'>

        {% for rec in data %}
        <div class="py-2 px-2">
            <div class="card text-white border-Warning bg-dark">
                {% if rec["thumbnail"]: %}
                <img id="card_image_{{ rec['id']}}" src="{{ url_for('image_route',id=rec['id'],type='thumbnail') }}"
                    image="{{ url_for('image_route',id=rec['id'],type='image') }}" class="card-img-top"
                    data-bs-toggle="modal" data-bs-target="#cardModal" loading="lazy">
                {% endif %}
                <div class="card-body">
                    {% if rec["msg"]: %}
                    <p id="card_text_{{ rec['id']}}" class="card-text">
                        {{ rec["msg"].replace("\n","<br>")|safe }}
                    </p>
                    {% endif %}
                    <p class="card-text text-end">
                        <small id="card_author_{{ rec['id']}}" class="blockquote-footer">
                            {{ rec["name"] }}
                        </small>
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}

{% endblock %}