<div class="modal fade " id="cardModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable modal-fullscreen">
        <div class="container row">
            <div class="col-7 my-3">
                <img id="image_modal" class="img-fluid modal-img col-12" src="" loading="lazy">
                <div id="msg_modal" class="my-2 mx-2 text-light col-12">
                </div>
                <div class="text-end col-12">
                    <small id="author_modal" class="blockquote-footer text-light-50">
                    </small>
                </div>

            </div>
            <div class="col-3 my-3 text-light">
                <div class="btn-group">
                    <button class="btn btn-outline-warning">
                        <i class="fs-4 bi bi-chat-dots"></i>
                    </button>
                    <button class="btn btn-outline-warning">
                        <i class="fs-4 bi bi-chat-dots"></i>
                    </button>
                    <button class="btn btn-outline-warning">
                        <i class="fs-4 bi bi-chat-dots"></i>
                    </button>
                </div>
                <div>
                    test
                </div>
            </div>
        </div>

    </div>
</div>