<div class="modal fade " id="cardModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable modal-fullscreen">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-10 col-lg-7 col-md-8 col-sm-9 mx-auto my-3">
                            <img id="image_modal" class="sticky-top img-fluid modal-img col-12" src="" loading="lazy">
                        </div>

                        <div class="col-10 col-lg-4 col-md-3 col-sm-3 mx-auto my-3">

                            <div class="btn-group">
                                <button type="button" onclick="alert('test');" class="btn btn-outline-warning">
                                    <i class="fs-4 bi bi-chat-dots"></i>
                                </button>
                                <button class="btn btn-outline-warning">
                                    <i class="fs-4 bi bi-chat-dots"></i>
                                </button>
                                <button class="btn btn-outline-warning">
                                    <i class="fs-4 bi bi-chat-dots"></i>
                                </button>
                            </div>
                            <div id="msg_modal" class="my-2 mx-2 text-light col-12">
                            </div>
                            <div class="text-end col-12">
                                <small id="author_modal" class="blockquote-footer text-light-50">
                                </small>
                            </div>

                            {% for i in range(50) %}
                            <p class="text-light">test</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>