{% include "reply.html" %}

<div class="modal fade " id="cardModal">
    <div class="modal-dialog modal-dialog-scrollable modal-fullscreen">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container">
                    <div class="fixed-top my-3 mx-3 text-end">
                        <button type="button" class="btn-close-white btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-10 col-lg-7 col-md-8 col-sm-9 mx-auto my-3">
                            <img id="image_modal" class="img-fluid modal-img" src="" loading="lazy">
                        </div>
                        <div class="col-10 col-lg-4 col-md-3 col-sm-2 mx-auto my-2">
                            <div class="row">
                                <div class="col">
                                    <div id="msg_modal" class="my-2 mx-2 text-light col-12">
                                    </div>
                                    <div class="text-end col-12">
                                        <small id="author_modal" class="blockquote-footer text-light-50">
                                        </small>
                                    </div>
                                </div>
                                <div class="col-1 align-self-center">
                                    <div class="btn-group">
                                        <button class="btn btn-outline-warning" data-bs-toggle="modal"
                                            data-bs-target="#replyModal">
                                            <i class=" fs-4 bi bi-chat-dots"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    {% for i in range(20) %}
                                    <p class="text-light">test</p>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>