<nav class="navbar navbar-expand-lg navbar-light bg-warning py-1">
    <div class="container">
        <a class="navbar-brand" href="/">OrzOGC</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/msg">Photo Board</a>

                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ptt">PTT Scraper</a>
                </li>
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link" role="button" data-bs-toggle="dropdown">
                        PTT Scraper
                    </a> -->
                <!-- <ul class="dropdown-menu dropdown-menu-dark p-2" style="width: 250;">
                        <form class="my-1 mx-1" method="POST" action="/ptt">
                            <input class="form-control my-1" type="text" name="board" placeholder="Board">
                            <input class="form-control my-1" type="text" name="keyword" placeholder="Keyword">
                            <input class="form-control my-1" type="text" name="author" placeholder="Author">
                            <input class="form-control my-1" type="text" name="count" placeholder="Count">
                            <input class="btn btn-primary" type="submit" name="submit" value="Search">
                        </form>
                    </ul> -->
                <!-- </li> -->
            </ul>
        </div>
    </div>
</nav>