.masonry {
    margin: 10px auto;
    max-width: 80%;
    column-gap: 10px;
}

.item {
    background: rgba(0, 0, 0, 0.5);
    padding: 2px;
    margin:  10px auto;
}

@media only screen and (min-width: 1024px) {
    .masonry {
        column-count: 4;
    }
}

/* Masonry on medium-sized screens */

@media only screen and (max-width: 1023px) and (min-width: 768px) {
    .masonry {
        column-count: 3;
    }
}

/* Masonry on small screens */

@media only screen and (max-width: 767px) and (min-width: 540px) {
    .masonry {
        column-count: 2;
    }
}