{% extends "template.html" %}

{% block head %}

<!-- reCAPTCHA v3 -->
<script src="https://www.google.com/recaptcha/api.js"></script>

<script>
    function formSubmit(token) {
        document.getElementById("validation").submit();
    }
</script>

<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
    integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous"
    async></script>

{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row col-6 col-sm-4 col-md-3 col-lg-2 mx-auto ">
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
            aria-expanded="false" aria-controls="collapseExample">Write a message</button>
    </div>
</div>

<div class="container-fluid">
    <div class="justify-content-center row">
        <div id="collapseExample"
            class="card collapse bg-light border-light px-0 py-0 col-10 col-sm-6 col-md-6 col-lg-4">
            <form role="form" class="col form-group mx-1 my-1" action="/msg" id="validation" method="POST">
                <input name="name" type="text" class="mb-1 text-white bg-dark form-control " id="calls"
                    placeholder="Nick Name" maxlength="20"
                    pattern="^[0-9A-Z.\sa-z\u3400-\u4DBF\u4E00-\u9FFF\u3040-\u309F\u30A0-\u30FF]{1,20}$">
                <textarea id=calls name="msg" class="text-white bg-dark form-control mb-1" rows="4" required
                    placeholder="Write a message"></textarea>
                <button data-action='submit' data-callback='formSubmit'
                    data-sitekey="6Lft2hsaAAAAAF2t9ldcHaKiaRAQbGOdhz7wuEPy" class="visually-hidden g-recaptcha">
                </button>
                <button type="submit" class="form-group mb-1 btn btn-success">Post</button>
            </form>
        </div>
    </div>

</div>
</div>

<!--\u3400-\u4DBF\u4E00-\u9FFF 中文-->
<!--\u3040-\u309F\u30A0-\u30FF 日文-->


<div class="container-fluid">
    <div class="row content-center mx-auto" data-masonry='{"percentPosition": true }'>

        {% if data == "" %}
        <p class="text-justify">No one leave a message yet.</p>
        {% else %}
        {% for rec in data %}
        <div class="col-10 col-sm-6 col-md-5 col-lg-4 py-1 px-1">
            <div class="card text-white bg-dark">
                <div class="card-body">
                    <h5 class="card-title">{{ rec["name"] }}</h5>
                    <p class="card-text">
                        {{ rec["msg"].replace("\n","<br>")|safe }}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}