{% extends "template.html" %}

{% block head %}
<title>PTT Scraper</title>

{% endblock %}

{% block body %}
<br>
<div class="row col-11 mx-auto">
    <div class="col-3">
        <form class="my-1 mx-1" method="POST" action="/ptt">
            <input class="form-control my-1" type="text" name="board" placeholder="Board">
            <input class="form-control my-1" type="text" name="keyword" placeholder="Keyword">
            <input class="form-control my-1" type="text" name="author" placeholder="Author">
            <input class="form-control my-1" type="text" name="count" placeholder="Count">
            <input class="btn btn-primary" type="submit" name="submit" value="Search">
        </form>
    </div>
    <div class="col-9 mx-auto">

        {% if data %}
        <table class="table table-warning table-hover table-striped">
            <thead>
                <tr>
                    <th class="col-1">No.</th>
                    <th class="col-1">Hot</th>
                    <th class="col-5">Title</th>
                    <th class="col-1">Author</th>
                    <th class="col-1">Date</th>
                </tr>
            </thead>
            {% for item in data %}
            <tbody>
                <tr>
                    <td>{{ item }}</td>
                    <td>{{ data[item]["push"] }}</td>
                    <td>
                        <a class="link-dark" href="{{ data[item]['url'] }}" target="_blank" rel="noopener noreferrer">
                            {{ data[item]["title"] }}</a>
                    </td>
                    <td>{{ data[item]["author"] }}</td>
                    <td>{{ data[item]["date"] }}</td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
        {% else %}
        <!-- <div class="text-center text-light">do something</div> -->
        <table class="table table-warning table-hover table-striped">
            <thead>
                <tr>
                    <th class="col-1">No.</th>
                    <th class="col-1">Board</th>
                    <th class="col-5">Title</th>
                </tr>
            </thead>
            {% for item in json %}
            <tbody>
                <tr>
                    <td>{{ item }}</td>
                    <td>{{ json[item]["name"] }}</td>
                    <td>{{ json[item]["title"] }}</td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
        {% endif %}
    </div>
</div>
{% endblock %}