{% extends "template.html" %}

{% block head %}
<title>About</title>

{% endblock %}

{% block body %}

<div class="mx-auto my-3 text-light col-10">
    <div class="h4 text-center">
        side projects just for fun & practice
    </div>
    <div>
        <div class="h5">Photo Board</div>
        <ul>
            <li>post and comment photo messages</li>
            <li>packages : flask, sqlite3, sqlalchemy, PIL</li>
            <li>ajax : scroll down to get more photo</li>
            <li>storing all data in sqlite database w/ sqlalchemy</li>
            <li>resizing photo in PIL</li>
            </li>
        </ul>
    </div>
    <div>
        <div class="h5">PTT Scraper</div>
        <ul>
            <li>scraping data from ptt.cc and show on web</li>
            <li>packages : BeautifulSoup</li>
        </ul>
    </div>
</div>

{% endblock %}