{% extends "template.html" %}
{% block head %}
<script src="{{ url_for('static',filename='msg/info_modal.js') }}"></script>
<title>Photo Board</title>

{% endblock %}
{% block body %}

{% include "msg/button/go-top.html" %}
{% include "msg/button/go-back.html" %}
{% include "msg/button/reply.html" %}
{% include "msg/modal/reply.html" %}

<div class="container">
    <div class="row">
        <div class="col-10 col-lg-8 col-md-8 col-sm-8 text-center mx-auto my-2">
            <img class="img-fluid" src="{{ url_for('image_route',id=data.id,type='image') }}" loading="lazy">
        </div>
        <div class="col-10 col-lg-4 col-md-4 col-sm-4 mx-auto my-2">
            <div class="row">
                <div class="col">
                    <div class="card bg-dark cover">
                        <div class="px-2 py-2 text-light col-12">
                            {{ data.msg.replace("\n","<br>")|safe }}
                        </div>
                        <div class="text-end px-2 py-2 col-12">
                            <small class="blockquote-footer text-light-50">
                                {{ data.name }}
                            </small>
                        </div>
                        <div class='card-img-overlay bg-dark d-flex align-items-center'>
                            <div class="col-12">
                                <button class="btn btn-outline-warning" data-bs-toggle="modal"
                                    data-bs-target="#replyModal" name='{{ data.name }}'>
                                    <i class="fs-4 bi bi-chat-dots"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if comment %}

            <div class="row">
                <div class="col">
                    {% for rec in comment %}
                    <hr class="bg-warning">
                    <div class="card bg-dark cover my-1">
                        <div class="px-2 py-2 text-light col-12">
                            {{ rec.msg.replace("\n","<br>")|safe }}
                        </div>
                        <div class="text-end px-2 py-2 col-12">
                            <small class="blockquote-footer text-light-50">
                                {{ rec.name }}
                            </small>
                        </div>
                        <div class='card-img-overlay bg-dark d-flex align-items-center'>
                            <div class="col-12">
                                <button class="btn btn-outline-warning" data-bs-toggle="modal"
                                    data-bs-target="#replyModal" name='{{ rec.name }}'>
                                    <i class="fs-4 bi bi-chat-dots"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}

        </div>
    </div>
</div>

{% endblock %}