{% block id %}
{% endblock %}
<div class="modal-dialog">
    <div class="modal-content text-white border-dark bg-dark">
        <div class="modal-header">
            <div>
                <h5 class="modal-title">Write some message</h5>
            </div>
            <div>
                <button type="button" class="btn-close-white btn-close" data-bs-dismiss="modal"></button>
            </div>
        </div>
        <div class="modal-body">
            {% block form %}
            {% endblock %}
            <input name="name" type="text" class="mb-2 mt-1 border-Primary text-white bg-dark form-control"
                placeholder="Nick Name" maxlength="20"
                pattern="^[0-9A-Z.\sa-z\u3400-\u4DBF\u4E00-\u9FFF\u3040-\u309F\u30A0-\u30FF]{1,20}$">
            <textarea class="text-white bg-dark border-Primary form-control mb-2" rows="4" name="msg"
                placeholder="Write a message"></textarea>
            {% block file %}
            {% endblock %}
            <button type="submit" class="form-button col-3 justify-content-start btn btn-Primary">Post</button>
            <button type="button" data-bs-dismiss="modal" class="col-3 mx-1 btn btn-secondary">Canel</button>
            </form>
        </div>
    </div>
</div>
</div>