{% extends "template.html" %}

{% block body %}

<div class="container">
    <label class="form-label">Welcome to SPAM Calls</label>
    <p class="text-justify">Query/Add/Rank SPAM Calls.</p>
    <p class="text-justify">While Rank less than -10, daily erase the record.</p>
    <p class="text-justify">Coding for side project.</p>
</div>

<div class="row mb-3"></div>

<div class="container">

    {% if msg != "" %}
    <label class="form-label">Latest 5 records</label>
    <div class="row mb-2">
        <div class="col-3">Phone number</div>
        <div class="col-4">Comments</div>
        <div class="col-4">Time (UTC)</div>
    </div>

    {% for rec in data %}
    <div class="row mb-2">
        <div class="col-3">{{ rec["phone"] }}</div>
        <div class="col-4 newline">{{ rec["comments"].replace("\n","<br>")|safe }}</div>
        <div class="col-4">{{ rec["time"] }}</div>
    </div>
    {% endfor %}
    {% endif %}

</div>

{% endblock %}