{% extends "template.html" %}

{% block main %}

<div class="container">
    <form id="test" action="{{ url_for('query') }}" method="POST">
        <div class="form-group row">
            <div class="col-auto">
                <input name="phone" type="tel" class="mx-2 mb-2 form-control" id="calls"
                    pattern="^[+]*[0-9]{1,4}[-\s0-9]{1,}[0-9]{1,}$" maxlength="20" required placeholder="Phone Number">
                <input type="number" name="rank" id="calls" class="mx-2 mb-2 form-control" placeholder="Rank, optional"
                    pattern="^[0-9]*$">
            </div>
        </div>

        <button type="submit" class="mx-2 col-auto btn btn-success">Query</button>
    </form>
</div>

{% endblock %}