{% extends "template.html" %}

{% block body %}

<div class="container">
    <form id="test" class="col-8 col-sm-6 col-md-4 col-lg-3" action="{{ url_for('query') }}" method="POST">
        <input name="phone" type="tel" class="mx-2 mb-2 form-control" id="calls"
            pattern="^[+]*[0-9]{1,4}[-\s0-9]{1,}[0-9]{1,}$" maxlength="20" required placeholder="Phone Number">
        <input type="number" name="rank" id="calls" class="mx-2 mb-2 form-control" placeholder="Rank, optional"
            pattern="^[0-9]*$">
        <button type="submit" class="mx-2 col-auto btn btn-success">Query</button>
    </form>
</div>

{% endblock %}